<!doctype html>
<html lang = "en">
<head>
  <title>Chitter</title>
  <link href="/css/css_rest.css" rel="stylesheet" type="text/css">
  <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
  <meta charset="utf8">
</head>
<body>
  <% if current_user %>
    Welcome, <%= current_user.username %>
  <% end %>
  <%= yield %>
</body>
</html>